.chatBubble {
    padding: 12px 16px;
    border-radius: 12px;
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

.userBubble {
    background-color: #0070f2 !important;
    border-bottom-right-radius: 2px;
    align-self: flex-end;
}

.userBubble * {
    color: white !important;
}

.assistantBubble {
    background-color: #eff4f9 !important;
    color: #32363a !important;
    border-bottom-left-radius: 2px;
    align-self: flex-start;
    border: 1px solid #dbe1e6;
}

.chatTimestamp {
    font-size: 0.7rem;
    opacity: 0.8;
    margin-top: 6px;
    text-align: right;
}

.italicText {
    font-style: italic;
    font-size: 0.85rem;
    color: #6a6d70;
}

.messageRow {
    width: 100%;
    background-color: transparent !important;
}

.sapMLIBContent {
    padding: 0 !important;
    width: 100%;
}

.sapMLIB.sapMLIBTypeActive:not(.sapMLIBSel):not(.sapMLIBShowSeparator) {
    background-color: transparent !important;
}
